*{
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.body{
  background-color: #BFD7EA;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  --sb-track-color: #3c3c3c;
  --sb-thumb-color: #ffffff;
  --sb-size: 17px;
}
body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 25px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 25px;
  border: 4px solid #3c3c3c;
}

@supports not selector(::-webkit-scrollbar) {
  body {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
/* head css */
.heading{
  top: 0;
  display: flex;
  flex-direction: row;
  width: 10vh;
  align-items: center;
  height: 20vh;
}

.heading h1{
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  flex-direction: column;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.start{
  display: block;
  border: #fff solid 3px;
  
  background-color: #313131;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.end{
  display: block;
  border: #313131 solid 3px;
  background-color: #fff;
  color: #3c3c3c;
}

.navbar{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 'Segoe UI', monospace;
  font-size: 2rem;
  color: #fff;
  border: #fff solid 2px;
  border-radius: 10px;
  margin: 10px;
}

.navitems{
display: flex;
flex-direction: row;
align-items: center;
  justify-content: space-around;
  text-decoration: none;
  position: sticky;
  background: transparent;
  backdrop-filter: blur(10px);
}

.navbar ul, li{
  text-decoration: none;
}

.navitems a{
  color: #fff;
  text-decoration: none;
}

.pattern {
  width: 100%;
  height: 100%;
  /* control ize */
  --u: 5px;
  --c1: #ededee;
  --c2: #000000;
  --c3: #1e1e1e;
  --gp: 50% / calc(var(--u) * 16.9) calc(var(--u) * 12.8);
  background: conic-gradient(
        from 122deg at 50% 85.15%,
        var(--c2) 0 58deg,
        var(--c3) 0 116deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from 122deg at 50% 72.5%, var(--c1) 0 116deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(from 58deg at 82.85% 50%, var(--c3) 0 64deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(
        from 58deg at 66.87% 50%,
        var(--c1) 0 64deg,
        var(--c2) 0 130deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from 238deg at 17.15% 50%, var(--c2) 0 64deg, #fff0 0 100%)
      var(--gp),
    conic-gradient(
        from 172deg at 33.13% 50%,
        var(--c3) 0 66deg,
        var(--c1) 0 130deg,
        #fff0 0 100%
      )
      var(--gp),
    linear-gradient(98deg, var(--c3) 0 15%, #fff0 calc(15% + 1px) 100%)
      var(--gp),
    linear-gradient(-98deg, var(--c2) 0 15%, #fff0 calc(15% + 1px) 100%)
      var(--gp),
    conic-gradient(
        from -58deg at 50.25% 14.85%,
        var(--c3) 0 58deg,
        var(--c2) 0 116deg,
        #fff0 0 100%
      )
      var(--gp),
    conic-gradient(from -58deg at 50% 28.125%, var(--c1) 0 116deg, #fff0 0 100%)
      var(--gp),
    linear-gradient(90deg, var(--c2) 0 50%, var(--c3) 0 100%) var(--gp);
}


/* card css */

.service{
  gap: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card {
  
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000 ;
  line-height: 1.4;
}

.contain{
  border-radius: 15px;
  border: #3c3c3c solid 4px;
  margin: 20px;

}

.content{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  gap: 4rem;
  color: #fff;
  font: 'Segoe UI', monospace;
  margin: 5px;
  margin-bottom: 2rem;
}

.contain h4{
  font: 'Segoe UI', monospace;
  font-size: 2rem;
  text-decoration: underline;
  text-shadow: none;
  color: #ffbd44;
}

.contain h1{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 3px;
}

.contain a{
  text-decoration: underline;
  color: cyan;
  justify-content: space-around;

}



.Pattern5 {
  width: 100%;
  height: 100%;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  padding: 0;
  margin: 0;
  border-radius: 15px;

}


/* card for course */

.pattern2 {
  width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  border: #3c3c3c solid 3px;
  border-radius: 15px;
  margin: 5px;
  padding: 20px;
}

.teacher{
  align-items: center;
  justify-content: center;
  font: 'Segoe UI', monospace;
  font-size: 3rem;
  padding: 20px;
}


.teacher h1{
  color: #3c3c3c;
  text-decoration: underline;
}

.cards{
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-client {
  background: #2cb5a0;
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #7cdacc;
  box-shadow: 0 6px 10px rgba(207, 212, 222, 1);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #7cdacc;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture svg {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #7cdacc;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  width: 1.1rem;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

/* courses cards css */
.pattern3 {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  border: grey solid 3px;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
}


.courses{
  align-items: end;
  font: 'Segoe UI', monospace;
  gap: 1.5rem;
  display: flex;
  flex-direction: row;
  color: #3c3c3c;
  border-radius: 10px;
  padding: 20px;
}

.courses  h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: 'Segoe UI', monospace;
  font-size: 7rem;
  font-weight: bold;
  text-decoration: underline;
  color: #3c3c3c;
}

.courseInfo p{
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  gap: 1.256rem;
  font: 'Segoe UI', monospace;
}

#courses{
  align-items: start;
  font: 'Segoe UI', monospace;
  gap: 2rem;
  border: #262626 solid 4px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
 
.course {
  align-items: start;
  width: 190px;
  height: 254px;
  padding: .8em;
  border-radius: 15px;
  background: #f5f5f5;
  position: relative;
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 
 .course-info{
  padding-top: 10%;
 }
 
 svg {
  width: 20px;
  height: 20px;
 }
 
 .course-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  padding-bottom: 15px;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
 }
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
 }
 
 /*Button*/
 .course-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .course-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }

 /* course cards Ends */


 /* categories css here */
 .pattern4 {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  border: #fff solid 3px;
  border-radius: 15px;
  margin: 5px;
  padding: 20px;
}


#info{
  border: #3c3c3c solid 3px;
  border-radius: 15px;
  height: 20vh;
  width: 25vw;
  overflow: auto;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  color: burlywood;
  padding: 10px;
  background: transparent;
  backdrop-filter: blur(10px);
}

.size{
  border: #fff solid 3px;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
  margin: 5px;
  background: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.catagory{
  gap: 1.5rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.catagory #head{
  font-size: 4rem;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.categorie {
  width: 230px;
  height: 254px;
  margin: 10px auto;
  padding: 15px;
  background-color: #011522;
  border-radius: 8px;
  z-index: 1;
 }
 
 .tools {
  display: flex;
  align-items: center;
  padding: 9px;
 }
 
 .circle {
  padding: 0 4px;
 }
 
 .box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
 }
 
 .red {
  background-color: #ff605c;
 }
 
 .yellow {
  background-color: #ffbd44;
 }
 
 .green {
  background-color: #00ca4e;
 }

 .categorie__content #info1{
  border: cyan solid 2px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  color: #ff605c;
 }
 
 .categorie__content #info2{
  border: cyan solid 2px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  color: #ffbd44;
 }
 
 .categorie__content #info3{
  border: cyan solid 2px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  color: #00ca4e;
 }

 .categorie__content #info4{
  border: cyan  solid 2px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
  color: #fff;
 }




 /* Footer css Start */

 #footer {
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
  color: #fff;
}

#footer a{
  text-decoration: none;
  color: #fff;
  font: 'Segoe UI', monospace;
  display: flex;
  flex-direction: row; 
}

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  margin-top: 50px;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

.input-container {
  margin: 20px;
  display: flex;
  width: 100%;
  max-width: 290px;
}

.input-container > span,
.input-container .input {
  white-space: nowrap;
  display: block;
}

.input-container > span,
.input-container .input:first-child {
  border-radius: 6px 0 0 6px;
}

.input-container > span,
.input-container .input {
  border-radius: 0 6px 6px 0;
}

.input-container > span,
.input-container .input {
  margin-left: -1px;
}

.input-container .input {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

.input-container span {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: #6b7385;
  background: #d4def5;
  border: 1px solid #CDD9ED;
  font-weight: bold;
  transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.input-container:focus-within > span {
  color: #fff;
  background-color: #148cd1;
  border-color: #148cd1;
}

.input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #99A3BA;
  border: 1px solid  #CDD9ED;
  background: #fff;
  transition: border 0.3s ease;
}

.input::placeholder {
  color: #CBD1DC;
}

.input:focus {
  outline: none;
  border-color: #148cd1;
}

#signup {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  margin: 10px;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 #signup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 #signup:hover {
  color: #e8e8e8;
 }
 
 #signup:hover::before {
  width: 100%;
 }

 .bttn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  margin-left: 75rem;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.bttn:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.bttn:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.bttn::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.bttn:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
